<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|News+Cycle|Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="style.css" />
        <title>SlideShare - Simple online photo album sharing</title>

        <script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!--<script type="text/javascript" src="jquery.autosize.min.js"></script>-->
        <script src="drag.js"></script> 

    <script type="text/javascript"> 

    /* $(document).ready(function(){
        $('textarea').autosize();   
    }); */

      function addToDatabase(url) {
        console.log(url);
        var method = "post";
        var path = "/";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", 'name');
        hiddenField.value = url;
        form.appendChild(hiddenField);
        console.log(hiddenField);
        console.log(form);
        document.body.appendChild(form);
        form.submit();
      }

      function showPopOver(divID, text) {
        console.log("popover called");
        console.log(text);
        document.getElementById(divID).style.left = "200px";
        document.getElementById(divID).style.top = "100px";
        document.getElementById(divID).style.display = "block";
        document.getElementById(divID).innerHTML = text;
      }

      function closePopOver(divID) {
        console.log("close Pop-over called");
        document.getElementById(divID).style.display = "none";
      }

    </script>

    </head>

    <body>

        <div id="header">
            <div id="header-inner-wrapper">
                <span id="name">SlideShare</span>.com/ <!--TODO put textbox here ONLY in editor-->
            </div>
            <div style="clear: both;"></div> <!-- NECESSARY -->
            <div id="publish-button">Publish</div>
        </div>

        <div style="margin-top: 100px"><a href="javascript:showPopOver('pop1', publish());"><b> Publish </b> </a></div>

        <div id="pop1" class="popover" align="center">
            Pop-over content
        </div>
        <div><a href="javascript:closePopOver('pop1');">Close</a></div>

        <div id="workspace">
            <div class="upload-prompt" id="upload-field">
                <div id="upload-field-inner">
                Drag in photos<br />
                or
                <div id="upload-button-container">
                    <input type="filepicker" data-fp-button-class="upload-button" data-fp-button-text="upload" data-fp-apikey="ANJlpHksZSrqWDRC0FtL9z" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-maxsize="26214400" data-fp-services="COMPUTER,FACEBOOK" onchange="addToDatabase(event.fpfile.url)">
                    <div id="upload-button">upload</div>
                </div>
                </div>
            </div>

            <div id="controls">
                <button id="prev_button"> < </button>
                <button id="next_button"> > </button>
            </div>

            <div class="canvas-wrapper">
                <div id="canvas" class="canvas">
                    <div class="image-wrapper"><!--<img class="focus-image" src="http://imfunny.net/wp-content/uploads/2013/05/Meanwhile-funny-England.jpg">--></div>
                </div>
            </div>
            <div id="caption-wrapper">
                <textarea id="caption" value="Enter caption here"></textarea>
            </div>
        </div>

        <div id="thumbnail_bar">
            {% for car in mycars %}
                <div>
                    <img class="thumbnail" src={{car['URL']}} />
                </div>
            {% endfor %}
        </div>

        <script type="text/javascript">
            function publish() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
                for (var i = 0; i < 10; i++) {
                    text += possible.charAt(Math.floor(Math.random() * possible.length));
                }
                console.log(text);
                return "View your Slideshare at: slideshare.com/" + text;
            }
            //var publishButton = document.getElementById("publish-button");
            //publishButton.onclick = publish;
        </script>

    </body>

</html>
